body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: rgb(255, 255, 255);
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 100px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.section-one {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}

.section-one img {
    color: #E5E7EB;
    text-align: center;
    background-color: #888888;
    width: 450px;
    height: 220px;
    border-radius: 10px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    padding-bottom: 5px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    padding-bottom: 15px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: #F9FAF8;
}

.section-one button {
    border: #1F2937;
    font-size: 18px;
    font-weight: bold;
}

.section-two {
    padding: 40px 100px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 125px;
    margin-right: 125px;
}

.box {
    text-align: center;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
}

.section-three {
    background: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    padding-left: 225px;
    padding-top: 60px;
    padding-right: 225px;
}

.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    padding-right: 225px;
    padding-bottom: 60px;
}

.modal {
    background: #3882F6;
    margin: 100px 100px;
    padding: 60px 125px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.action {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

.instruct {
    color: #E5E7EB;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    padding: 40px;
    text-align: center;
}